@model MovieRatingData

@{
    ViewData["Title"] = "Movie Recommendation";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1>Movie Recommendation</h1>
            <hr />

            <form asp-action="Recommend" asp-controller="Movie" method="get" class="needs-validation">
                <div class="mb-3">
                    <label for="userId" class="form-label">User ID:</label>
                    <input type="number" 
                           class="form-control" 
                           id="userId" 
                           name="userId" 
                           step="0.1"
                           placeholder="Enter user ID" 
                           required />
                </div>

                <div class="mb-3">
                    <label for="movieId" class="form-label">Movie ID:</label>
                    <input type="number" 
                           class="form-control" 
                           id="movieId" 
                           name="movieId" 
                           step="0.1"
                           placeholder="Enter movie ID" 
                           required />
                </div>

                <button type="submit" class="btn btn-primary w-100">Get Prediction</button>
            </form>
            

            @if (ViewBag.Score >= 3.5)
            {
                <div>
                    <br />
                    <h5>Watch the movie!</h5>
                    
                </div>
            }
            else
            {
                <div>
                    <br />
                    <h5>DON'T Watch the movie</h5>

                </div>
                }

        </div>
    </div>
</div>
